
<div class="row text-center d-flex justify-content-center" style="height:400px">
    <!-- Team item -->
      <div class="bg-white rounded shadow-sm py-1 px-4"><img src={{sonucdict['ppurl']}} alt="" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0"><a href="https://www.instagram.com/{{sonucdict['username']}}">{{sonucdict['username']}}</a></h5><span class="small text-uppercase text-muted">{{sonucdict['fullname']}}</span>
          <ul class="social mb-0 list-inline mt-3 row">
              <li class="list-inline-item col text-center font-weight-bold text-primary"><span>Gönderi</span></li>
              <li class="list-inline-item col text-center font-weight-bold text-primary"><span>Takipçi</span></li>
          </ul>
          <ul class="social mb-0 list-inline mt-3 row">
              <li class="list-inline-item col text-center"><span>{{sonucdict['mediacount']}}</span></li>
              <li class="list-inline-item col text-center"><span>{{sonucdict['followercount']}}</span></li>
          </ul>
          <a href="https://www.instagram.com/{{sonucdict['username']}}"><button class="btn btn-primary btn-sm mt-3">Profile Git</button></a>
      </div>
</div>